.langATheme {
  position: absolute;
  left: 10px;
  padding: 5px;
  top: 10px;
  border: 1px solid var(--main-color);

  .theme-toggle-button {
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 3px 7px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
  }
}
.authForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 30px;
  border-radius: 6px;
  width: 60%;
  height: 470px;
  box-shadow: 0 0 5px 5px #eaeaea;
  i {
    position: absolute;
    top: -25px;
    font-size: 30px;
    border: 1px solid var(--main-color);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--main-color);
    color: #fff;
  }
  h2 {
    text-align: center;
    margin: 20px 0;
  }
  .formLabel {
    display: block;
    font-size: 17px;
    margin: 0 10px 10px 10px;
    font-weight: bold;
  }
  .formInput,
  textarea {
    padding: 10px;
    width: 100%;
    margin: 0 5px 0 0px;
    border-radius: 8px;
    height: 35px;
    border: 1px solid #ccc;
    font-size: 20px;
    &:focus {
      outline: none;
    }
  }
  textarea {
    height: 100px;
    resize: none;
  }
  .btnContent {
    text-align: center;
    .formBtn {
      width: 30%;
      height: 40px;
      border: 0;
      background: var(--main-color);
      color: #fff;
      border-radius: 8px;
      margin: 5px 0 10px;
    }
  }
  .haveAcc {
    span {
      font-size: 17px;
      color: #ddd;
    }

    a {
      font-size: 20px;
      color: #333;
      text-decoration: none;
    }
  }
}
