.cartItemsContain {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  .cartItem {
    border: 1px solid var(--main-color);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 700px;
    margin-bottom: 10px;
    border-radius: 8px;
    margin: 0 10px 10px;
    .imgCart {
      margin: 0 30px;
      text-align: center;
      position: relative;
    }
    .cartDetail {
      position: relative;
      margin-right: 75px;
    }
    .quantityAStock {
      display: flex;
      .removeBtn,
      .quantityBtn {
        background-color: #ddd;
        border: 0;
        color: #000;
        width: 50px;
        height: 30px;
        border-radius: 5px;
        cursor: pointer;
      }
      .quantityBtn {
        width: fit-content;
        border-radius: 0;
        color: #fff;
        width: 30px;
      }
      .increase {
        background-color: green;
      }
      .decrease {
        color: #000;
      }
    }
  }
  .quantityInput {
    -moz-appearance: textfield; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    padding: 5px;
    border: 1px solid #ddd;
  }

  .quantityInput::-webkit-inner-spin-button,
  .quantityInput::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
